* {
    box-sizing: border-box;
}

/* This is an A11y Change */
/* I have increased the size from 10px to 12px as it was not accessible to mobile users */
body {
    font-size: 12px;
    font-family: sans-serif;
}

nav {
    width: 100%;
    background-color: #4d5791;
    padding: 0 40px;
}

div.menu ul,
div.menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav ul li a:hover {
    background-color: white;
    color: #4d5791;
}

div.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #fff;
    font-size: 3.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    color: #4d5791;
}

main {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

.bottom {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.center {
    text-align: center;
}

.skip {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    margin-top: 0px;
}

.skip:focus {
    margin-top: -50px;
}

main article {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    main article {
        margin: 10px;
        vertical-align: top;
    }
}

/* This is an A11y Change */
@media screen and (max-width: 480px) {
    div.menu ul,
    div.menu ul li {
        display: block;
        margin: 5px 0;
        text-align: center;
    }
}